<!-- <ng-template #content let-modal>
        <div class="modal-content modal-container">
            <p>{{contentModal}}</p>
        </div>
    </ng-template> -->

<form [formGroup]="panellForm" autocomplete="off">
        <!-- {{panellForm.value | json}} -->
        <div class="container border rounded-3 border-3 border-dark p-3 m-2">
                <p>Número de páginas <button (click)="plus1()">+</button>
                        <input type="number" formControlName="paginas" (change)="webPrice()" [(ngModel)]="number1">
                        <button (click)="minus1()">-</button></p>

                <!-- <div class="containerIcon align-items-center d-flex" (click)="openModal(content, 'pageModal')">
                        <i class="fa-solid fa-circle-info"></i></div> -->

                <p>Número de idiomas <button (click)="plus2()">+</button>
                        <input type="number" formControlName="idiomas" (change)="webPrice()" [(ngModel)]="number2">
                        <button (click)="minus2()">-</button></p>
                        
                <!-- <div class="containerIcon align-items-center d-flex" (click)="openModal(content, 'langModal')">
                        <i class="fa-solid fa-circle-info"></i></div> -->

                <p>Precio: {{webPrice()}}</p>
        </div>
</form>